.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px 0;
    text-align:center;
    z-index: 1000;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: none;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    
    
}

.hero-header {
  height:70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, #000000 100%), 
    url(assets/Libra3.png);
    
  background-size: 1700px;
  background-position: center;
;
  
}

.hero-header h1 {
background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 10px 30px;
  border-radius: 20px;
  color: rgb(217, 221, 255);
  font-size: 3vw;
  backdrop-filter: blur(5px);
}
body {
    background-color: #000000;
    color: #ffffff;
}

h1,footer {
    color: #ffffff;
}

p {
    color: #fff;
    text-align: justify;
}

* {
    font-family: 'Google Sans Code', sans-serif;
}

span.header {
  display: inline-block;  
  background: rgba(48, 35, 85, 0.15); /* Efecto Glassmorphism tchk tchk */
  backdrop-filter: blur(5px);           
  padding: 10px 19px;
  border-radius: 20px;
  border: 1.5px solid rgba(255,255,255,0.3);
  display: inline-flex;
  align-items: center;   
  gap: 8px;
  margin-bottom: 10px;
}

div.botones-header {
  display: flex;         
  justify-content: center; 
  align-items: center;     
  flex-wrap: wrap;       
  gap: 15px;             
  width: 100%;           
  margin-top: 20px;
}



span.eslogan {
  display:grid;
  text-align: center;  
  padding: 15px 15px;
  border-radius: 60px;
  background-color: rgba(184, 171, 219, 0.15);
  box-shadow: 
    0 0 5px #00f2ff,       
    0 0 15px #00f2ff,      
    inset 0 0 10px #00f2ff;
}

.Texto-Intro {
    text-align: center;
    padding: 20px 20px;
    max-width: 500px;
    margin: 0 auto;
}

.Texto-Intro h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.Texto-Intro p {
    font-size: 1 rem;
    line-height: 1.5;
}

.caracteristicas {
  font-size: 0.9rem;
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 20px;
    
    
}

.caracteristicas p {
    text-align: center;
    line-height: 1.5;
    
}

span.caracteristicas-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.caracteristicas h2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-size: 1.3rem;
}

footer {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    background-color: #000000;
    color: #ffffff;
    margin-top: 40px;
}

.caracteristicas-final {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 10px 10px;
  border-radius: 2px;
}

.caracteristicas-final p {
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  text-align: center;
}

.caracteristicas-final svg {
  flex-shrink: 0;
}

div.feature-item {
    background-color: rgba(111, 106, 126, 0.15);
    border-radius: 20px;
    padding: 16px;
    box-shadow: 
    0 0 5px #00f2ff,       
    0 0 15px #00f2ff,      
    inset 0 0 10px #00f2ff;
    
}

.gallery-section {
    display:inline-flex;
    padding: 2px 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    
}

.gallery-title { 
  text-align: center; 
  margin-bottom: 10px; 
  color: #777; }

.grid {
    display: grid;
    gap: 25px;
    max-width: 1000px;
}

.card-image {
    height: 250px;
    background: #111;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 
    0 0 5px #00f2ff,       
    0 0 15px #00f2ff,      
    inset 0 0 10px #00f2ff;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    transition: 0.4s;
}

.card-image:hover img { opacity: 1; }

.overlay-ui {
    position: absolute;
    top: 15px;
    right: 15px;
    background: rgba(0,0,0,0.7);
    padding: 4px 12px;
    border: 1px solid #444;
    font-size: 0.8rem;
    border-radius: 4px;
}

.card-caption1 {
    text-align: center;
    margin-top: 15px;
    font-weight: 500;
}

.card-caption2 {
    text-align: justify;
}

.contacto {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
}