.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000000;
    padding: 10px 0;
    text-align:center;
    z-index: 1000;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    border-bottom: none;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    
    
}

.hero-header {
  height:60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  color: rgb(255, 255, 255);
  background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, #000000 100%), 
    url(assets/LibraH.png);
    
  background-size: cover;
  background-position: center;
  
}

.hero-header h1 {
background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px 15px;
  border-radius: 20px;
  color: rgb(217, 221, 255);
  font-size: 5vw;
  backdrop-filter: blur(5px);
}
body {
    background-color: #000000;
    color: #ffffff;
}

h1,footer {
    color: #ffffff;
}

p {
    color: #fff;
    text-align: justify;
}

* {
    font-family: 'Google Sans Code', sans-serif;
}

span.header {
  display: inline-block;  
  background: rgba(48, 35, 85, 0.15); /* Efecto Glassmorphism tchk tchk */
  backdrop-filter: blur(5px);           
  padding: 10px 19px;
  border-radius: 20px;
  border: 1.5px solid rgba(255,255,255,0.3);
  display: inline-flex;
  align-items: center;   
  gap: 8px;
  margin-bottom: 10px;
}

div.botones-header {
  display: flex;         
  justify-content: center; 
  align-items: center;     
  flex-wrap: wrap;       
  gap: 15px;             
  width: 100%;           
  margin-top: 20px;
}



span.eslogan {
  display:grid;
  text-align: center;  
  padding: 15px 15px;
  border-radius: 2px;
  background: rgba(184, 171, 219, 0.15); /* Efecto Glassmorphism */
}

.Texto-Intro {
    text-align: center;
    padding: 20px 20px;
    max-width: 500px;
    margin: 0 auto;
}

.Texto-Intro h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.Texto-Intro p {
    font-size: 1 rem;
    line-height: 1.5;
}


